http://{$SERVER_IP} {
    redir https://{$CADDY_SITE_ADDRESS}{uri} permanent
}

{$CADDY_SITE_ADDRESS} {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    reverse_proxy app:8000
}
